body {
    font-family: "Tahoma", "Geneva", "sans-serif";
    font-size: 24px;
    background: rgb(0,107,166);
    background: linear-gradient(180deg, rgba(0,107,166,1) 0%, rgba(143,45,86,1) 100%);
}
html {
    scroll-behavior: smooth;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: bold;
}

li {
    /* float: left; */
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    margin-top: -1.35em;
    padding: 0.6em 0.5em;
    text-decoration: none;
    height: 15%;
}

h2 {
    text-align: center;
}

h6 {
    text-align: right;
}

.headerWrapper {
    display: flex;
    height: 8%;
    width: 100vw;
}

/* .headerPic {
    display: flexbox;
    background-image: url("./assets/Sitting\ Duck.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 115% 148%;
    width: 100%;
    height: 25em;
} */

/* .navBar {
    position: fixed;
    top: 0;
    margin-left: 0em;
    width: 100vw;
    height: 50%;
    background-color: grey;
} */

.techSkillsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    text-indent: 50%;
}

.iconBox {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    margin-top: -8px;
    height: 50px;
    width: 50px;
}
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}
  
h1 {
    font-size: 50px;
    word-break: break-all;
}

.psst {
    font-size: 10px;
}

.row {
    margin: 10px -16px;
}
  
/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}
  
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}
  
/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Content */
.content {
    background-color: white;
    padding: 10px;
}
  
/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
  
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}
  
.btn:hover {
    background-color: #ddd;
}
  
.btn.active {
    background-color: #666;
    color: white;
}

.linkBox {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    padding-right: 8%;
    height: 50px;
    width: 50px;
}

.projectsWrapper {
    display: flexbox;
}

.linksWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.linkBox {
    display: flex;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
}

.linkIcon {
    height: 50px;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: .85em;
}

.linkText {
    display: flex;
    padding-top: 1em;
    padding-left: .4em;
}

#h3 {
    margin-right: 2em;
    margin-left: -.5em;
    padding-left: -1.5em;
    padding-right: -1.5em;
}

.contactWrapper {
    display: flex;
    height: 30em;
    width: 50em;
}

.contactBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: center;
    padding-top: .25em;
    border: .1em solid grey;
    border-radius: 12px;
    text-align: center;
    margin-top: 50px;
    margin-left: 25%;
    height: 50%;
    width: 50%;
}

.submitButton {
    display: flex;
    align-items: center;
}

.box {
    margin: auto
}

.card {
    padding: 8%;
    padding-top: 35px;
    margin-top: 60px;
    margin-bottom: 80px
}

textarea[name="message"] {
    resize: none
}

#e-mail {
    height: 45px
}

#message {
    height: 120px
}

input.input-box,
textarea.input-box {
    background-color: #616161;
    border: #616161;
    color: #BDBDBD
}

input.input-box:focus,
textarea.input-box:focus {
    background-color: #000000;
    color: #BDBDBD
}

.rm-border:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none
}

form .form-control::-webkit-input-placeholder {
    color: #9E9E9E
}

::-moz-placeholder {
    color: #9E9E9E !important
}

input.btn-purple {
    background-color: #5C6BC0;
    color: #ffffff
}